/* Pen-specific styles */
html, body, section {
  height: 100%;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #b6701e;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.left-half h1 {
  font-size: 15rem;
  font-family: 'Oswald';
  margin: 8rem 0 8rem 0;
  color: #f2f2f2;
  text-shadow: 0 2px 2px #e1e1e1;
}

.left-half h2 {
  font-size: 6rem;
  font-family: 'Merriweather';
  margin: 2rem 0 2rem 0;
  color: #f2f2f2;
  text-shadow: 0 2px 2px #e1e1e1;
}

.left-half h3 {
  font-size: 3.1rem;
  font-family: 'Oswald';
  margin: 3rem 0 3rem 0;
  color: #f2f2f2;
  text-shadow: none;
}

.left-half h1 {
  font-size: 15rem;
  font-family: 'Oswald';
  margin: 8rem 0 8rem 0;
  color: #f2f2f2;
  text-shadow: 0 2px 2px #e1e1e1;
}

.left-half h2 {
  font-size: 6rem;
  font-family: 'Merriweather';
  margin: 2rem 0 2rem 0;
  color: #f2f2f2;
  text-shadow: 0 2px 2px #e1e1e1;
}

.left-half h3 {
  font-size: 3.1rem;
  font-family: 'Oswald';
  margin: 3rem 0 3rem 0;
  color: #f2f2f2;
  text-shadow: none;
}

.right-half li {
  font-size: 4rem;
  font-family: 'Oswald';
  margin: 4rem 0 4rem 0;
  color: #080808;
  text-shadow: none;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  background-color: #080808;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: #F2F2F2;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
}

.no-bullets {
  list-style-type: none;
  text-align: left;
  width: 20rem;
  margin: auto;
}

.list-anchors {
  text-decoration: none;
  color: #080808;
}

.list-anchors a:link a:visited {
  color: #080808;
}

.list-anchors a:hover a:active {
  color: #BDBDBD;
}
